<div class="header">
 <h1><a href="/"class="title">Pierre's Treats</a></h1>
  <div class="navigation">
    <button>@Html.ActionLink("Search", "Index", "Search")</button>
    <button>@Html.ActionLink("View Flavors", "Index", "Flavors")</button>
    <button>@Html.ActionLink("View Treats", "Index", "Treats")</button>

 @if (User.Identity.IsAuthenticated)
{
    <div>@using (Html.BeginForm("LogOff", "Account"))
      {
        <input type="submit" class="btn btn-default" value="Log out" />
      }
    </div>
}
else
{
   <button>@Html.ActionLink("Log in", "Login", "Account")</button>
}

</div>

</div>