@model PierresTreats.Models.Treat

<h2>Edit Treat</h2>

@using (Html.BeginForm())
{
  @Html.HiddenFor(model => model.TreatId)

  @Html.LabelFor(model => model.TreatName)
  @Html.EditorFor(model => model.TreatName)

  <input type="submit" value="Save" />
}

<button>@Html.ActionLink("Back to list", "Index")</button>