@model PierresTreats.Models.Flavor

<div class="card">
  <div class="card-body">
    <h2 class="card-title">Are you sure you want to delete @Model.FlavorName?</h2>

    <h5 class="card-text text-danger">This action cannot be undone.</h5>

    <h4 class="card-text">
      @using (Html.BeginForm())
      {
        <input type="submit" value="Delete" class="btn btn-danger" />
      }
      <hr />

     <button>@Html.ActionLink("Home","Index","Home")</button>
    </h4>
  </div>
</div>
